<!DOCTYPE html>
<html>
<head>
  <title>FFTS</title>
  <meta name="keywords" content="Qiniu, Cloud Storage, File Transfer Station" />
  <meta name="description" content="Fast File Transfer Station." />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name} #{action_name}" -%>">
<%= yield %>
</body>
</html>